body {
	background-color: #fafafa;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/*========TYPOGRAPHY==========*/

p {
	font-size: 24px;
}

.lead {
	margin-bottom: 3em;
}
	
.page-container {
	width: 80%;
	margin: 0 auto;
}

/*========CLEARFIX==========*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*========NAV==========*/
.navbar {
	margin-bottom: 0;
}

.navbar-default {
    max-width: 100%;
	background-color: #416db4;
	border-color: transparent;
}

.navbar {
	border-radius: 0px;
}

/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #416db4;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #416db4;
}

/*========BUTTONS==========*/
.btn-blue {
	background-color: #39a3db;
	color: #fff;
}

.btn-blue:hover {
	background-color: #2074aa;
	border-color: #185881;
	color: #fff;
}

/*========IMAGES==========*/
.img-responsive {
	display: inline-block;
}

/*========HOME==========*/

#screen-one {
	background-color: #39a3db;
	color: #fff;
	padding: 2em;
}


.top-tip {
	border-top: dashed 2px #fff;
	padding-top: 0.5em;
}

.top-tip p {
	font-size: 16px;
}
	
.compass {
	width: 100%;
}

.bottom-tip {
	border-bottom: dashed 2px #fff;
	padding-top: 15em;
}

.bottom-tip p {
	font-size: 16px;
}

@media (max-width: 767px) {
	.bottom-tip {
		padding-top: 2em;
	}
}

.action {
	margin-top: 3em;
}

#screen-tags {
	background-color: #f7ca18;
	padding: 2em;
}

#screen-industry {
	background-color: #2ecc71;
	padding: 2em;
}

/*========FOOTER==========*/
 footer {
 	background-color: #fff;
 	border-top: 3px solid #252222;
 	padding: 20px 0;
 }

 footer img {
 	margin-right: 25px;
 }
