body {
	background-color: #fafafa;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/*========TYPOGRAPHY==========*/

p {
	font-size: 18px;
}

.lead {
	margin-top: -0.5em;
	margin-bottom: 1.5em;
	font-variant: small-caps;
	font-size: 32px;
}

.page-container {
	width: 84%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*========CLEARFIX==========*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*========NAV==========*/
.logo img {
	max-width: 30px;
	margin-left: 5px;
}

.logo {
	margin-top: 8px;
	color: #fff;
	font-size: 20px;
}

a:hover.logo  {
	color: #fff;
}

a:focus.logo  {
	color: #fff;
	text-decoration: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
    max-width: 100%;
	background-color: #416db4;
	border-color: transparent;
}

.navbar {
	border-radius: 0px;
}

/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #416db4;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #416db4;
}

/*========BUTTONS==========*/

.btn-start {
	color: #fff;
	background-color: #90cd00;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
}

.btn-start:focus {
	color: #fff;
	outline: 0;
	background-color: #90cd00;
}

.btn-start:hover {
	background-color: #7cb001;
	border-color: #7cb001;
	color: #fff;
}

.btn-blue {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
	background-color: #39a3db;
	border-color: #39a3db;
	color: #fff;
	position: absolute;
	bottom: -15em;
	left: 0%;
}

.btn-blue:focus {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
	background-color: #39a3db;
	outline: 0;
	color: #fff;
	position: absolute;
	bottom: -15em;
	left: 0%;
}

.btn-blue:hover {
	background-color: #2074aa;
	border-color: #2074aa;
	color: #fff;
}

.btn-explore {
	margin-top: 1em;
	color: #fff;
	background-color: #39a3db;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
}

.btn-explore:hover {
	background-color: #f64747;
	border-color: #f64747;
	color: #fff;
}

.btn-explore:focus {
	outline: 0;
}

/*========IMAGES==========*/
.img-responsive {
	display: inline-block;
}

/*========HOME==========*/

@media (min-width: 996px) {
	.fill-screen{
		max-height: 680px;
	}
}

#screen-one {
	background-color: #39a3db;
	color: #fff;
	padding: 2em;
}


.top-tip {
	margin-top: 1em;
	border-top: dashed 2px #fff;
	padding-top: 0.5em;
}

.top-tip p {
	font-size: 14px;
}

.compass {
	width: 90%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 16px;
}

.bottom-tip {
	border-bottom: dashed 2px #fff;
	padding-top: 18em;
}

.bottom-tip p {
	font-size: 14px;
}

@media (max-width: 768px) {
	.bottom-tip {
		padding-top: 2em;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.bottom-tip {
		padding-top: 10em;
	}
}

.action {
	margin-top: 3em;
}

#screen-tags {
	background-color: #f7ca18;
	padding: 2em;
	position: relative;
}

#screen-industry {
	background-color: #2ecc71;
	padding: 2em;
}

.industry-container {
	padding: 0.25em;
}

.industry-suggestion {
	background-color: #fff;
	border-radius: 15px;
	margin-right: 0.25em;
	margin-left: 0.25em;
}

.industry-title {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0.5em;
	font-size: 32px;
	font-variant: small-caps;
	margin-bottom: 2em;
	background-color: #22313F;
	color: #fff;
}

.industry-content {
	padding: 1.6em;
	font-size: 16px;
}

.button-container {
	padding: 2em;
}

/*========SUBJECTS==========*/

#industry {
	background-color:#2ecc71;
	padding: 2em;
	color: #fff;
	max-height: 680px;
}

.btn-compare {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
	background-color: #39a3db;
	border-color: #39a3db;
	color: #fff;
	position: absolute;
	bottom: -90px;
	left: 0%;
}

.btn-compare:focus {
	background-color: #39a3db;
	outline: 0;
	color: #fff;
}

.btn-compare:hover {
	background-color: #2074aa;
	border-color: #2074aa;
	color: #fff;
}

.btn-field {
	color: #fff;
	background-color: #26a65b;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
	margin-bottom: 3.5em;
	font-variant: small-caps;
}

.btn-field:focus {
	color: #fff;
	outline: 0;
	background-color: #26a65b;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
}

.btn-field:hover {
	background-color: #26a65b;
	border-color: #26a65b;
	color: #fff;
	cursor: default;
}

.hook {
	padding-top: 2em;
}

.btn-career {
	color: #fff;
	background-color: #26a65b;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 18px;
	min-width: 130px;
	margin: 0.5em;
}

.btn-career:focus {
	color: #fff;
	outline: 0;
	background-color: #26a65b;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.btn-career:hover {
	background-color: #1e824c;
	border-color: #1e824c;
	color: #fff;
}

/*========BARGRAPHS=========*/
.parallel-charts {
	width: 700px;
	height: 160px;
	margin: auto;
}

.barchartcareer1{
	width: 50%;
	height: 150px;
	float: left;
	margin: auto;
}

.barchartcareer2{
	width: 50%;
	height: 150px;
	float: right;
	margin: auto
}

/*==========================*/
#work-life {
	background-color:#f5d000;
}

.career-heading {
	color: #fff;
	padding-top: 4px;
	font-variant: small-caps;
	font-size: 24px;
	font-weight: 500;
}

.category {
	font-variant: small-caps;
	font-size: 22px;
	font-weight: 500;
	padding: 0.4em;
	background-color: rgba(255, 255, 255, 0.3);
}

/*==========================*/
#getting-there {
	background-color:#39a3db;
	position: relative;
}

.btn-back {
	color: #fff;
	background-color: #90cd00;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 22px;
	position: absolute;
	bottom: -400px;
	left: 0%;
}

.btn-back:focus {
	color: #fff;
	outline: 0;
	background-color: #90cd00;
}

.btn-back:hover {
	background-color: #7cb001;
	border-color: #7cb001;
	color: #fff;
}

/*========FOOTER==========*/
 footer {
 	background-color: #416db4;
 	padding: 22px 0;
 	color: #fff;
 }

 .footer-title {
 	text-transform: uppercase;
 	font-weight: 600;
 	font-size: 16px;
 }

/*========TAGGLE==========*/
.ui-widget-content {
    background: white;
    color: #333;
	padding-top: 16px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

li.taggle {
	margin-top: 10px;
}

::selection {
    background: #ccc;
    color: #333;
}

.ui-autocomplete {
	width: 100% !important;
}

 /* line 245, ../../../sass/projects/taggle/taggle.scss */
.taggle_list {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  font-size: 1.2rem;
}

/* line 250, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  border: none;
  outline: none;
  font-weight: 300;
}

/* line 257, ../../../sass/projects/taggle/taggle.scss */
.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

/* line 265, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 283, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle_hot {
  background: #cac8c4;
}

/* line 287, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close {
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 75%;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
}

/* line 302, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 309, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover > .close {
  display: block;
}

/* line 313, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close:hover {
  color: #990033;
}

/* line 317, ../../../sass/projects/taggle/taggle.scss */
.taggle_placeholder {
  position: absolute;
  top: 18px;
  color: #CCC;
  font-size: 18px;
  -webkit-transition: opacity, 0.25s;
  -moz-transition: opacity, 0.25s;
  -o-transition: opacity, 0.25s;
  transition: opacity, 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 328, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  padding: 8px;
  padding-top: 16px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

/* line 338, ../../../sass/projects/taggle/taggle.scss */
.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}
