{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
	<header>
		<div class="ribbon"></div>
	    <h1><img src="{% static 'pathways/img/whats-next-logo.png' %}" alt="what's next"></h1>
	    <div class="subheading">
	    	<p>We are here to help you compare your options after you leave school. Just pick a subject area you’re interested in to get started:</p>
	    </div>
	    <div class="subjects">
	    	<div class="text">
		    	<ul>
		    		<li>Science</li>
		    		<li>Technology</li>
		    		<li>Arts</li>
		    		<li>Humanities</li>
		    		<li>Languages</li>
		    	</ul>
	    	</div>
	    </div>
	</header>

	<main>
		<ol class="breadcrumb">
		  <li><a href="#">Social</a></li>
		  <li><a href="#">Economics</a></li>
		  <li class="active">Career Options</li>
		</ol>

		<div class="text careers">
			<form action="#work-comparison" method="post">
				<input type="checkbox" name="career-options" value="Career"> Career
				<input type="checkbox" name="career-options" value="Career"> Career
				<input type="checkbox" name="career-options" value="Career"> Career
				<input type="checkbox" name="career-options" value="Career"> Career
			</form>
			<div class="go-button">
				<img src="{% static 'pathways/img/go.png' %}" alt="GO">
			</div>
		</div>

		<div id="work-comparison" class="cf">
			<div class="option-one">
				<h2>Option 1</h2>
				<p>Salary</p>
				<p>Hours</p>
				<p>Employment Rate</p>
			</div>
			<div class="option-two">
				<h2>Option 2</h2>
				<p>Salary</p>
				<p>Hours</p>
				<p>Employment Rate</p>
			</div>
		</div>

		<div id="future-comparison" class="cf">
			<div class="text option-one">
				<h2>Option 1</h2>
				<p>Minimum Qualification</p>
				<p>Student Debt</p>
				<p>Years of Study</p>
			</div>
			<div class="text option-two">
				<h2>Option 2</h2>
				<p>Minimum Qualification</p>
				<p>Student Debt</p>
				<p>Years of Study</p>
			</div>
		</div>
	</main>

	<footer>
		<p>Brought to you by Working Title at GovHack 2015</p>
	</footer>

{% endblock %}