{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<header>
	<script type="text/javascript">
		var greyedOutGoPath = "{% static 'pathways/img/grey-go.png' %}"
		var goPath = "{% static 'pathways/img/go.png' %}"
	</script>
</header>

<!-- ======================= NAV ======================= -->
<nav class="navbar navbar-default" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<div class="container">
	      <a class="navbar-brand" href="./?page=dash">what's next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
	    </div>
	</div>
</nav> <!-- ======================= END NAV ======================= -->

<div id="screen-one" class="fill-screen"> <!-- ======================= ABOVE FOLD ======================= -->
	<div class="row text-center">
		<div class="container">
			<p>Not sure what to do after high school? Can’t pick a career?</p>
			<p class="lead">Use <strong>what’s next</strong> to explore your options!</p>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="col-sm-4 top-tip">
				<p>Choose your interests and get career field suggestions based on the tags you generate!</p>
			</div>

			<div class="col-sm-4 text-center">
				<img class="img-responsive" src="{% static 'pathways/img/compass.png' %}" alt="Compass">
			</div>

			<div class="col-sm-4 text-right bottom-tip">
				<p>Compare careers side by side for salary, hiring rates, student debt and more!</p>
			</div>
		</div>
	</div>

	<div class="row action">
		<div class="container">
			<div class="col-sm-offset-4 col-sm-4">
				<button class="btn btn-block btn-success"
						data-scrollto="#screen-tags">
	                Start Looking
	            </button>
			</div>
		</div>
	</div>
</div> <!-- ======================= END ABOVE FOLD ======================= -->


<div id="screen-tags" class="fill-screen"> <!-- ======================= TAGS ======================= -->
	<div class="row text-center">
		<div class="container">
			<p>Tell us a bit more about your interests (max of 5).</p>
			<p class="lead">Start typing below!</p>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="col-sm-offset-3 col-sm-6">
				<input id="taggle" class="form-control input-lg" name="taggle"
                  placeholder="eg: writing, photography, film">
			</div>
		</div>
	</div>

	<div class="row action">
		<div class="container">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<button class="btn btn-block btn-blue"
						data-scrollto="#screen-industry">
	                Next Step
	            </button>
			</div>
		</div>
	</div>
</div> <!-- ======================= END TAGS ======================= -->

<div id="screen-industry" class="fill-screen"> <!-- ======================= INDUSTRY ======================= -->
	<div class="row text-center">
		<div class="container">
			<p>Here are some industries we think you might like.<p>
			<p class="lead">Pick one to explore!</p>
		</div>
	</div>
</div> <!-- ======================= END INDUSTRY ======================= -->

<footer>
	<div class="row text-center">
		<div class="container">
			<p>Brought to you by team <strong>Working Title</strong> as part of GovHack 2015 Wellington, New Zealand.</p>
		</div>
	</div>
</footer>

{% endblock %}
