{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}

<div class="row">
	<div class="container text-center">

		<div id="industry">
			<p>Now that you've chosen an industry</p>
			<p class="lead">Pick 2 careers to compare!</p>

			<hr>
		</div>

		<div id="work-life">
			<p>annual salary</p>
			<p>hours per week</p>
			<p>employment rate</p>

			<hr>
		</div>

		<div id="getting-there">
			<p>minimum qualification</p>
			<p>student debt</p>
		</div>

	</div> <!-- /.container -->
</div> <!-- /.row -->


{% endblock %}