{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>What's Next?</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'pathways/css/main.css' %}">

        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/d3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'js/breadcrumb.js' %}"></script>
		<script src="{% static 'js/skills_drop_down.js' %}"></script>
    <script src="{% static 'js/circle-drawer.js' %}"></script>
		<script src="{% static 'js/load_interests.js' %}"></script>
		<script src="{% static 'js/load_career.js' %}"></script>
		<script src="{% static 'js/page_resizing.js' %}"></script>
        {% block head %} {%  endblock head %}
    </head>

    <body>
        {% block content %} {%  endblock content %}
    </body>
</html>
