{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>What's Next?</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% block head %} {%  endblock head %}
    </head>

    <body>

        <div class="wrapper">
            <header>What's App</header>

            <div class="content">
            {% block content %} {%  endblock content %}
            </div>
        </div>

    </body>
</html>